:root {    
    /* Color */
    --main-black: #100D26;
    --dark-purple: #1F1640;
    --medium-purple: #56308C;
    --clear-purple: #5D60A6;
    --main-white: #e0d9e9;
    --main-aqua: #33f3cd;

    /* ------------------------------------------------------------------------------ */

    /* Font size regular */
    --small-size: 1.2rem;
    --medium-size: 1.4rem;
    --big-size: 1.8rem;

    /* Font size title */
    --small-size-title: 2.4rem;
    --medium-size-title: 3.4rem;
    --big-size-title: 4.4rem;

    /* ------------------------------------------------------------------------------- */

    /* padding general */
    --small-padding: 1rem;
    --medium-padding: 2rem;
    --big-padding: 4rem;

    /* margin general */
    --small-margin: 1rem;
    --medium-margin: 2rem;
    --big-margin: 4rem;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;  
}

ul > li {
    list-style: none;
}

/* Tokens ---------------------------------------- */
.hidden-element {
    visibility: hidden !important;
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

/* -------------------BODY------------------------ */

.main-body {
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    background-image: url('https://bit.ly/3Soflsj');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-background {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    background-color: var(--dark-purple);
}

/*----------Header----------*/

.header {
    width: 100%;
    max-width: 1920px;
    padding: 4rem;    
    margin: 0 auto;
    height: 15vh;
}

.main-navigation {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*----------Hero----------*/

.hero-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero--title {
    color: var(--main-aqua);
    font-size: var(--medium-size-title);
    line-height: calc(var(--medium-size-title) + .8rem);
    letter-spacing: 1px;
    margin-block-end: var(--small-margin);
}

.hero--subtitle {
    color: var(--main-white);
    font-size: var(--big-size);
    line-height: var(--big-size);
    font-weight: bold;
}

/* -------------------------APP-------------------------------------- */
.calculator {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    height: 70vh;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calculator--form {
    width: 100%;
    padding: var(--medium-padding);
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.form__planets-list {
    width: 100%;
    max-width: 400px;
    border: none;
    border: solid 2px var(--main-aqua);
    padding: var(--medium-padding);
    border-radius: 12px;
    

    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    grid-template-rows: repeat(auto-fit, 1fr);
}

.checkbox-container {
    display: flex;
    align-items: center;
    border-radius: 6px;

    padding: 1rem;
    color: var(--main-white);
    font-size: var(--medium-size);
    font-weight: 700;
}

.checkbox-container:hover {
    background-color: var(--main-aqua);
    color: var(--dark-purple);
}

.checkbox-container > input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-inline-end: 1rem;
    background-color: var(--medium-purple);
    display: grid;
    place-content: center;
    border-radius: 4px;
}

input[type=checkbox]::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 100%;

    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem  1rem 4rem var(--main-aqua);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.form__user-input {
    width: 100%;
    max-width: 280px;
    height: fit-content;
    border: solid 2px var(--main-aqua);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.earth-section {
    display: flex;
    flex-direction: column;

    padding: var(--small-padding);
}

.earth-section > label {
    text-align: center;
    color: var(--main-white);
    font-size: var(--big-size);
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1rem;
}

.earth-section > input {
    width: 100%;
    max-width: 170px;
    height: 30px;
    margin: 0 auto;
    padding-inline-start: var(--small-padding);

}

.button-section {
    padding: var(--medium-padding);
    padding-block-start: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 1rem;
}

.button-section > button {
    width: 100%;
    max-width: 170px;
    padding-block: var(--small-padding);
    background-color: var(--medium-purple);
    border: none;
    border-radius: 8px;
    color: var(--main-white);
    font-weight: bold;
}

.button-section > button:hover {
    background-color: var(--dark-purple);
}

div.warn P.planets--warn,
div.warn P.weight--warn {
    color: red;
    font-size: 1.2rem;
}

.description-section {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    height: 70vh;
}


/* FOOTER */

.footer {
    height: 15vh;
    padding: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > p {
    font-size: var(--big-size);
    color: var(--main-white);
    line-height: var(--medium-size);
}

.footer > p > a {
    color: var(--main-aqua);
    text-decoration: none;
    font-weight: bold;
}

.footer > p > a:hover {
    text-decoration: underline;
}

.footer > p > span {
    color: var(--main-aqua);
}

/* Media queries */
@media (min-width: 720px) {
    .form__planets-list {        
        margin-inline-start: 2rem;
        margin-inline-end: 2rem;
    }
}

@media (max-height: 600px) {
    .main-body {
        grid-template-rows: auto 1fr auto;
    } 
}

@media (max-width: 720px) {
    .main-body {
        grid-template-rows: auto 1fr auto;
    }    
}

@media (max-width: 759px) {
    .form__planets-list {        
        margin-block-end: 1rem;
    }

    .form__user-input {
        margin-block-end: var(--medium-margin);
    }
}

@media (min-width: 760px) {
    .form__planets-list {        
        margin: 0;
    }
}

@media (min-width: 780px) {
    .calculator--form {
        border-radius: 14px;
    }
}

