.answers-section {
    width: 100%;
    max-width: 1920px;
    min-height: 70vh;
    margin: 0 auto;
}

.answers-section .button-container {
    width: 100%;
    min-width: 300px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.answers-section .button-container .button__close {
    cursor: pointer;
}

.answer-container {
    width: 100%;
    min-width: 300px;
    max-width: 1920px;
    padding: 4rem;
    margin: 0 auto;
}

.answer-title {
    font-size: var(--medium-size-title);
    color: var(--main-white);
    text-align: center;
}

.earth-weight {
    font-size: var(--big-size);
    color: var(--main-white);
    text-align: center;
    font-weight: 500;
    margin-block-end: var(--medium-margin);
}

.answer-container>h3:nth-child(3) {
    font-size: var(--big-size-title);
    color: var(--main-white);
    text-align: center;
    font-weight: 500;
}


/* Ans2ers container */
.planets-list {
    width: 100%;
    max-width: 1600px;
    min-width: 300px;
    margin: 0 auto;
    margin-block-start: var(--medium-margin);
    padding: 2rem 2rem 0 2rem;

    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
}

.planets-list>.answer {
    grid-column: span 2;
    width: 100%;
    padding: var(--small-padding);
}