.answer-container {
    width: 100%;
    max-width: 520px;

    height: 100%;
    max-height: 640;
    scroll-behavior: smooth;
    overflow: scroll;

    background-color: white;
    border: solid 2px black;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.answer-title {

}

/* Earth card */

.earth-card {

}

.image-container {

}

.earth--image {

}

.earth-text-container {

}

.earth-card--title {

}

.earth-card--text {

}

/*  Planet cards */
.planet-card {

}

.planet-image-container {

}

.planet-card--image {

}

.result-container {

}

.planet-card--title {

}

.earth-card--text {
    
}
